*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
span{
	color: #50b748;
}
.p{
	color: white;
}
.h1{
	color: white;
}
.log{
	background-color: #0056a2;
	border-radius: 50px;
	box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.5);
}
.login-screen{
	transform: scale(0.8);
    transform-origin: center;
}

.form-control{
	background-color: #2a679b;
	color:white;
	border: none;
	outline: none;
	padding: 25px;
	border-radius: 50px;
	font-size: 15px;
}
.form-control:focus{
	background-color: rgb(89, 128, 162);
	outline: none;
	color: white;
	border:  0.2rem solid #50b748;
}
.btn1{
	background-color: transparent;
	color: white;
	font-weight: bold;
	outline: none;
	border: 0.2rem solid #50b748;
	border-radius: 50px;
	height: 50px;
	width: 300px;
	font-size: 15px;
	background-color: #50b748;
}
.btn1:hover{
	background-color: #50b748;
	color: white;
}
small{
	color: white;
	font-size: 15px;
}
a{
	color: #50b748;
	cursor: pointer;
}
a:hover
{
	color: #50b748;
	opacity: 0.75;
	text-decoration: none;
}
.screen {
	height: 100vh; /* Full viewport height */
	display: flex; /* Flexbox to center content */
	align-items: center; /* Vertically center content */
	justify-content: center; /* Horizontally center content */
  }
.bg{
		background-image: url(../img/bgnew.jpg);
		background-size: cover;
		background-position: top center;
		position: relative;
		z-index: 1;
}
.bg::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #133F63;
	opacity: 0.7;
	z-index: -1;
}
img{
	opacity: 0.5;
}
.swal-modal {
  background-color: #222222;
  border: 3px solid #50b748;
}
.swal-title {
  color: #50b748;
}
.swal-text {
  color: white;
}
.swal-button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.2rem 3rem;
  font-size: 1rem;
  color: #50b748;
  border: 0.2rem solid #50b748;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.swal-button:hover {
  background: #50b748;
  color: #fffdfd;
}

/* Styles for input placeholders */
.form-control::placeholder, .form-control[type="password"]::placeholder, .form-control:required {
	color: #bfbfbf; /* Placeholder text color */
	opacity: 1; /* Ensure opacity is fully visible */
	font-style: italic; /* Optional: italicize placeholder text */
  }  

  @media (max-width: 1280px) {
    .login-screen{
		transform: scale(0.64);
		transform-origin: center;
	}
}